In [2]:
# Import Dependencies
import pandas as pd

In [257]:
#File to Load 
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_path)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head(30)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,132,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16

In [260]:
# Display the total number of players
total_players = purchase_data.loc[:, ["Gender", "SN", "Age"]]
total_players = total_players.drop_duplicates()
total_players = total_players.count()[0]# Display the total number of players
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

In [261]:
#Purchase analysis 

#number of unique items
unique_item = len(pd.unique(purchase_data_df['Item Name']))
#average purchase price
average_price = purchase_data_df["Price"].mean()
#Total Number of Purchases
total_purchase = len(purchase_data_df.groupby("Purchase ID")["SN"].count())
#Total revenue
total_revenue = purchase_data_df["Price"].sum()

#purchase_data_df.dtypes

purchasing_analysis_df = pd.DataFrame([{"Number of Unique Items" : unique_item, "Average Price" : average_price, "Number of Purchases" : total_purchase, "Total Revenue" : total_revenue}])
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [253]:
#Gender Demographics
#Total number of players of each gender
total= purchase_data[["Gender", "SN"]].drop_duplicates().Gender.value_counts()


#Percentage of players
percent = purchase_data[["Gender", "SN"]].drop_duplicates().Gender.value_counts(normalize=True).astype(float).map("{:.2%}".format)

gender_demographics_df = pd.DataFrame({"Total Count" : total,   "Percentage of Players" : percent})
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [296]:
#Purchasing Gender Analysis
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

#purchase count
pur_count = purchase_data_df["Gender"].value_counts()

#average purchase price
gender_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
#total revenue by gender
total_revenue = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")

#average price per person by gender
avg_price_per = total_revenue / pur_count

gender_purchase_df = pd.DataFrame({
    "Purchase Count" : pur_count,
    "Average Purchase Price" : gender_average,
    "Total Purchase Value" : total_revenue,
    "Avg Total Purchase per Person" :  avg_price_per
})
gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

In [339]:
#Age Demographics
bins = [0,9,14,19,24,29,34,39,44]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data_df["Age Groups"] = pd.cut(purchase_data_df['Age'],bins, labels=labels)
purchase_data_df = purchase_data_df.groupby(purchase_['Age'].agg(['count', 'sum'])
purchase_data_df["Age Groups"]

KeyError: 0